*{
  box-sizing: border-box;
  margin: 0;
  font-style: 'Source Sans Pro', SansSerif;
}
body{
  text-align: center;
  background-color: green;
}
.dealer, .user, .deck, .button-container{
  border: none;
  display: block;
}
.dCard1, .uCard1 {
  width: 100px;
  height: 160px;
  margin: 5px;
  border: solid black 1px;
  border-radius: 5px;
  display: inline-block;
  background-color: white;
}
.dealer{
  margin-top: 40px;
}
.deck{
  width: 12%;
}
/* Need to align both cardDeck and .uCard1 */
/* I edit the DOM using Chrome because the changes are instant */
.cardDeck{
  width: 100px;
  height: 160px;
  margin-left: 30%;
  margin-bottom: 25px;
  border: solid black 1px;
  border-radius: 5px;
  background-color: white;
}
.user{
  width: 60%;
  padding-left: 41%;
  padding-right: 0px;
  display: inline-block;
}
.button-container{
  display: flex;
    flex-wrap: wrap;
    width: 39%;
    height: 39%;
    margin-left: 60%;
   position: fixed;
   top:0;
   bottom: 0;
   padding: 250px;
}
button{
  display: flex;
  flex-direction: row-reverse;
  width: 100px;
  height: 100px;
  background-color: black;
  color: white;
  padding: 20px;
}
